.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0; }

body {
  color: black; }
  body h1 {
    font-size: 2em;
    font-weight: 700; }
  body h2 {
    font-size: 1.5em;
    font-weight: 700; }
  body h3 {
    font-size: 1.2em;
    font-weight: 400; }

.main-body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-family: 'PT Sans', Arial, sans-serif;
  min-height: 100vh; }

a {
  text-decoration: none;
  color: black; }

.main-header {
  -webkit-flex-basis: 15%;
      -ms-flex-preferred-size: 15%;
          flex-basis: 15%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white; }

.main-container {
  background: -webkit-linear-gradient(45deg, #d8d7d7, white);
  background: -o-linear-gradient(45deg, #d8d7d7, white);
  background: linear-gradient(45deg, #d8d7d7, white);
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 85%;
      -ms-flex-preferred-size: 85%;
          flex-basis: 85%; }

.avatar-container {
  text-align: center; }
  .avatar-container img {
    border: 1px solid white;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main-navigation {
  width: 100%; }
  .main-navigation ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    width: 100%; }
    .main-navigation ul li {
      padding: 2vh 0;
      text-align: center; }
      .main-navigation ul li:hover {
        background-color: black;
        -webkit-transition: background-color 2s ease;
        -o-transition: background-color 2s ease;
        transition: background-color 2s ease; }
      .main-navigation ul li:hover a {
        color: white; }
      .main-navigation ul li:visited a {
        color: black; }
    .main-navigation ul a {
      font-size: 1.2em;
      font-weight: 400;
      position: relative; }
      .main-navigation ul a:active {
        color: red; }
      .main-navigation ul a:visited {
        color: black; }
      .main-navigation ul a::after {
        content: " \00BB"; }
  .main-navigation .current-page {
    background-color: #d8d7d7; }

.social-links-list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 0;
  margin: 0 auto; }
  .social-links-list li {
    padding: 0 10px; }
    .social-links-list li a {
      display: inline-block;
      width: 35px;
      height: 35px; }
      .social-links-list li a:hover {
        fill: #304ffe; }

.main-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.main-intro {
  margin: 30vh 0 30vh 5%;
  -webkit-align-self: start;
      -ms-flex-item-align: start;
          align-self: start; }

.element {
  font-size: 4em; }

.contact-link {
  display: block;
  margin-left: 5%;
  background-color: #304ffe;
  width: 180px;
  padding: 10px 0;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
  color: white; }
  .contact-link:hover {
    background-color: black; }

.works-container {
  background: -webkit-linear-gradient(45deg, #d8d7d7, white);
  background: -o-linear-gradient(45deg, #d8d7d7, white);
  background: linear-gradient(45deg, #d8d7d7, white);
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-flex-basis: 85%;
      -ms-flex-preferred-size: 85%;
          flex-basis: 85%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.work-item {
  -webkit-flex-basis: 250px;
      -ms-flex-preferred-size: 250px;
          flex-basis: 250px;
  min-height: 350px;
  background-color: white;
  margin-bottom: 5vh;
  position: relative;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); }

.work-preview {
  display: inline-block;
  width: 100%;
  height: 180px; }

.work-title {
  margin: 1vh 10px;
  font-size: 1.1em;
  font-weight: 700; }

.work-description {
  margin: 0 10px; }

.show-button {
  display: inline-block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: black;
  bottom: 0;
  right: 0;
  background-image: url("../img/right-black-arrow.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .show-button:hover {
    background-color: #304ffe;
    -webkit-transition: background-color 1s ease;
    -o-transition: background-color 1s ease;
    transition: background-color 1s ease; }

.work-hashtags {
  margin-top: 10px;
  padding: 0 10px;
  background-color: #f6f4f4;
  text-align: center; }

.skills-container {
  width: 90%;
  min-height: 80vh;
  background-color: white;
  margin: auto auto;
  position: relative; }

.skills-list {
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 2vw; }

.skills-item {
  display: inline-block;
  border-bottom: 1px dotted black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  min-height: 20vh; }

.sub-skills li {
  margin-bottom: 2vh;
  font-size: 1.2em; }

.skill-point {
  width: 10vw; }

.sp {
  font-size: 2em;
  display: inline-block;
  line-height: 5.5em; }

.contacts-window {
  position: absolute;
  width: 30%;
  height: 50vh;
  background-color: white;
  z-index: 1;
  opacity: 0.9;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0; }

.header-title {
  width: 100%;
  text-align: center;
  height: 10vh;
  background-color: black; }
  .header-title h2 {
    margin: 0;
    color: white;
    line-height: 4em;
    position: relative; }
  .header-title ul {
    list-style: none;
    padding: 0;
    margin: 5vh auto 0; }
    .header-title ul li {
      min-height: 10vh; }
      .header-title ul li .social-link {
        color: #304ffe; }
        .header-title ul li .social-link:hover {
          color: black; }

.contact::before {
  content: "";
  display: block;
  width: 32px;
  height: 32px;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: contain;
          background-size: contain;
  left: 1vw; }

.email-contact::before {
  background-image: url("../img/close-envelope.png"); }

.telegram-contact::before {
  background-image: url("../img/telegram.png"); }

.github-contact::before {
  background-image: url("../img/github-logo.png"); }

.menu-active {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: 98;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.menu-icon {
  position: fixed;
  top: 2vh;
  left: 2vh;
  z-index: 97;
  display: none; }

@media (max-width: 800px) {
  .main-header {
    display: none; }
  .avatar-container img {
    display: none; }
  .menu-icon {
    display: block; }
  .element {
    font-size: 1.8em; }
  .sp {
    font-size: 1.5em; }
  .sub-skills li {
    margin-bottom: 2vh;
    font-size: 1em; }
  .skill-point {
    width: 15vw; }
  .contacts-window {
    width: 70vw;
    height: 60vh; }
  .header-title h2 {
    line-height: 2.5em; }
  .header-title ul {
    margin: 8vh auto 0; }
  .main-navigation a {
    font-size: 2em; } }
