body {
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  font-size: 15px;
  line-height: 20px;
  font-weight: normal;
}

a {
  color: #ffffff;
}

.wrap {
  height: 100vh;
  height: -webkit-calc(var(--vh, 1vh) * 100);
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.wrap-bg {
  background-image: url("../img/bg.png");
}

.main {
  height: 100%;
  min-height: 360px;
  overflow-y: auto;
  padding-bottom: 60px;
}

.no-pd {
  padding-bottom: 0;
}

.header {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  width: 100%;
}

.back-icon {
  position: absolute;
  z-index: 3;
  left: 20px;
  top: 0;
}

.back-icon img {
  max-width: 30px;
}

.info-icon {
  position: absolute;
  top: -5px;
  right: 20px;
  z-index: 3;
}

.info-icon img {
  max-width: 40px;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 60px;
  background-color: #000000;
  padding: 0 8%;
}

.nav-menu {
  width: 100%;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  overflow: hidden;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu-item a {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
  font-size: 9px;
  line-height: 1;
  opacity: 0.5;
  color: #ffffff;
}

.menu-item a::before {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  margin-bottom: 8px;
}

.menu-item.active a::before,
.menu-item a:hover::before {
  background-position-y: -30px;
}

.menu-item.active a,
.menu-item a:hover {
  color: #ffc600;
  opacity: 1;
  text-decoration: none;
}

.menu-item.announce a::before {
  background-position-x: -30px;
}

.menu-item.archive a::before {
  background-position-x: -60px;
}

.menu-item.history a::before {
  background-position-x: -90px;
}

.menu-item-main img {
  max-width: 50px;
}

.centered-block {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.title-block {
  margin-bottom: 3vh;
}

.login-block {
  margin-bottom: 5vh;
}

.logo {
  display: inline-block;
  height: 10vh;
  min-height: 70px;
  margin-bottom: 3vh;
}

.main-title {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 1vh;
}

.app-info {
  font-size: 15px;
  font-weight: 300;
}

.restore-link {
  display: inline-block;
  width: 100%;
  text-align: right;
  font-size: 15px;
  font-weight: 300;
  text-decoration: underline;
}

.form-group {
  text-align: left;
  margin-bottom: 8px;
}

.form-group label {
  margin-bottom: 0;
  font-size: 18px;
  font-weight: bold;
}

.input {
  display: block;
  min-width: 300px;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.5);
  height: 40px;
  padding: 12px;
  color: #ffffff;
  font-weight: 300;
}

.input::-webkit-input-placeholder {
  color: #ffffff;
  opacity: .5;
}

.input::-moz-placeholder {
  color: #ffffff;
  opacity: .5;
}

.input:-moz-placeholder {
  color: #ffffff;
  opacity: .5;
}

.input:-ms-input-placeholder {
  color: #ffffff;
  opacity: .5;
}

.socials-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 1vh;
}

.socials-info {
  font-size: 10px;
  line-height: 1;
  font-weight: 300;
}

.socials-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.socials-list li {
  margin: 0 15px;
}

.social-item {
  display: inline-block;
}

.social-item img {
  max-width: 24px;
  max-height: 24px;
}

.created-info {
  position: absolute;
  bottom: -10px;
  font-weight: 300;
}

.cast-info {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  height: 22%;
  bottom: 0;
  width: 50%;
  padding: 0 2%;
}

.cast-info img {
  max-width: 100%;
}

.play-button {
  display: inline-block;
  padding: 12px 20px;
  background: none;
  color: #ffffff;
  font-size: 22px;
  line-height: 1;
  font-weight: 400;
  font-style: italic;
  text-transform: uppercase;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border: 2px solid #ffffff;
}

.play-button:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 24px;
  width: 23px;
  margin-right: 8px;
  background-image: url("../img/play-icon.png");
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.cast-time {
  margin-top: 25px;
  font-weight: 400;
  font-size: 30px;
}

.next-cast-title {
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  font-weight: 700;
}

.next-cast-title span {
  font-size: 90px;
  line-height: 90px;
}

.next-cast-time {
  font-weight: 300;
  font-size: 40px;
}

.media-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.media-item {
  width: 100%;
  overflow: hidden;
  height: 230px;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.media-item-inner {
  position: relative;
  display: block;
  height: 100%;
  width: 100%;
}

.media-item-play {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.media-item-play img {
  width: 120px;
  height: 120px;
}

.media-info {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.media-author {
  display: block;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}

.media-name {
  margin-bottom: 0;
  font-size: 20px;
  line-height: 1;
  font-weight: 700;
}

.media-item-time {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
}

.media-name-cast {
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  margin-bottom: 0;
}

.artist-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.artist-item {
  display: inline-block;
  width: 50%;
  padding-bottom: 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.main-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.main-menu-item {
  width: 33.333%;
  padding-bottom: 33.333%;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
}

.main-menu-item span {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 40%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 18px;
  text-shadow: 0 0 27px rgba(0, 0, 0, 0.64);
}

.main-menu-item.artists span {
  font-size: 13px;
}

.flex-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.flex-wrap .centered-block {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.announce-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.schedule-block {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 100%;
  padding: 15px 15px 0;
  overflow: hidden;
}

.announce-info {
  height: 240px;
  width: 100%;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
}

.announce-info span {
  position: absolute;
  font-size: 20px;
  font-weight: 700;
  bottom: 15px;
  left: 15px;
}

.schedule-time {
  font-size: 30px;
  line-height: 32px;
  font-weight: 900;
  margin-bottom: 0;
}

.schedule-date {
  font-size: 16px;
  opacity: 0.5;
  line-height: 1;
  font-weight: 400;
}

.schedule-list {
  max-height: 100%;
  overflow-y: auto;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 15px;
  padding-bottom: 60px;
}

.schedule-item {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #ffffff;
  padding: 10px 15px;
  margin-bottom: 20px;
}

.schedule-item-time {
  font-size: 20px;
  font-weight: 900;
  margin-right: 10px;
}

.schedule-item-img {
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  background-position: center center;
  -webkit-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  margin-right: 12px;
}

.schedule-item-info {
  font-size: 16px;
  line-height: 22px;
}

.schedule-item-title {
  margin-bottom: 0;
  color: #ffd800;
}

.schedule-item-name {
  margin-bottom: 0;
}

.detailed-block {
  height: 100%;
  overflow-y: auto;
}

.preview-block {
  height: 40%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
  -webkit-border-bottom-right-radius: 20%;
  border-bottom-right-radius: 20%;
  -webkit-border-bottom-left-radius: 20%;
  border-bottom-left-radius: 20%;
  margin-bottom: 30px;
}

.preview-title {
  position: absolute;
  margin-bottom: 0;
  bottom: -14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 8px 20px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  font-weight: 700;
  background-color: #505cc6;
  white-space: nowrap;
}

.detailed-info {
  padding: 0 15px;
  margin-bottom: 20px;
}

.songs-block {
  padding: 0 15px;
}

.detailed-title {
  font-size: 18px;
  line-height: 1;
  margin-bottom: 15px;
  font-weight: 700;
}

.about-content {
  font-size: 14px;
  font-weight: 300;
  font-style: italic;
}

.song-item {
  width: 250px;
  margin-right: 15px;
}

.album-info-block {
  height: 150px;
  position: relative;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  margin-bottom: 15px;
}

.album-song-info,
.album-info {
  position: absolute;
  right: 5px;
  text-align: right;
  font-style: italic;
}

.album-song-info {
  top: 5px;
}

.album-info {
  bottom: 5px;
}

.album-title {
  margin-bottom: 0;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.album-song-name {
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
}

.album-name,
.album-song-date {
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  margin-bottom: 0;
}

.song-text-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 10px;
}

.song-text-content {
  font-size: 12px;
  line-height: 14px;
  font-weight: 300;
  font-style: italic;
}

.song-item:not(.slick-active) .song-text {
  opacity: 0.5;
}

.history-item {
  position: relative;
  height: -webkit-calc(100vh - 170px) !important;
  height: calc(100vh - 170px) !important;
  overflow-y: auto;
  width: 300px;
  padding: 0 15px 80px;
  text-align: center;
}

.history-title {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.history-block {
  padding-top: 60px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.history-slider {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.history-slider .slick-list {
  display: -webkit-box !important;
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
}

.history-image {
  width: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  height: 200px;
  -webkit-box-shadow: 5px 9px 40px rgba(1, 2, 2, 0.48);
  box-shadow: 5px 9px 40px rgba(1, 2, 2, 0.48);
  margin-bottom: 20px;
}

.history-item-title {
  font-family: "PT Sans";
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 5px 9px 18px rgba(1, 2, 2, 0.48);
}

.history-item-content {
  text-align: left;
  max-height: 176px;
  overflow-y: hidden;
  font-size: 12px;
  line-height: 16px;
  font-weight: 300;
}

.history-item-content a {
  text-decoration: underline;
}

.history-item-date {
  display: inline-block;
  margin-top: 20px;
  font-size: 80px;
  font-weight: 900;
  line-height: 1;
  font-weight: bold;
  color: #30386a;
  background-color: #ffffff;
  padding: 0 20px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 9px 40px rgba(1, 2, 2, 0.48);
  box-shadow: 5px 9px 40px rgba(1, 2, 2, 0.48);
}

.history-item:not(.slick-current) {
  opacity: 0.5;
}

/*------------------------------ MEDIA --------------------------*/
@media (orientation: landscape) {
  body {
    overflow-y: auto;
  }
}

@media (max-height: 480px) {
  .input {
    height: 30px;
  }

  .logo {
    height: 40px;
    min-height: 40px;
  }

  .main-title,
  .socials-title {
    font-size: 20px;
  }

  .cast-info {
    max-height: 70px;
  }

  .cast-info img {
    max-height: 60px;
  }
}